<!DOCTYPE html>
<html lang="en">
  <head data-th-replace="~{fragment/basic-fragment :: head}"> </head>
  <body>
    <header
      data-th-replace="~{fragment/basic-fragment :: header('back to home', '/home')}"
    ></header>
    <nav data-th-replace="~{fragment/basic-fragment :: nav}"></nav>

    <section>
        <form action="/signup" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">name</label>
                <input type="text" name="writerName" required>
            </div>
            <div class="form-group"><label for="email">Email</label><input type="email" name="email" required></div>
            <div class="form-group"><label for="password">Password</label><input type="password" name="password"></div>
            <div class="form-group"><label for="profession">profession</label><input type="text" name="writerProfession" required></div>
            <div class="form-group"><label for="profile-pic">picture</label><input type="file" name="profilePicture" ></div>
            <div>
                <input type="submit">
            </div>
        </form>
    </section>
  </body>
</html>
